.nav-menu a {
  text-decoration: none;
  margin-right: 15px;
  color: #000;
  font-size: 16px;
  font-family: Merriweather;
  padding: 8px 10px;
  transition: .3s;
}

.nav-menu a:hover{
   background-color: #0c6b63;
   color: #fff;
}

.signin {
  z-index: 1;
  position: relative;

  color: #fff;
  padding: 0.5em 1em;
  outline: none;
  border: none;
background-color: #0f586e;
}

.signin::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #02fef1;
    transform-origin: center right;
    transform: scaleX(0);
    transition: transform 0.25s ease-in-out;
  }

  .signin:hover {
    cursor: pointer;
  }
  
  .signin:hover::before {
    transform-origin: center left;
    transform: scaleX(1);
  }

  @media only screen and (max-width: 600px) {
      .nav-menu a{
          display: block;
          margin-bottom: 10px;
          padding: 0;
          text-align: center;
      }

      .nav-menu button{
        text-align: center;
      }

      button.signin.authBtn{
        display: block;
        text-align: center;
        margin: 0 auto;
      }
      
      small.displayName {
        text-align: center;
        display: block;
        margin-top: 5px;
    }
  }